body{
    font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
    margin: 0;
}
.wrap{
    width: 800px;
    margin: 20px auto;
}
.site-title{
    margin: 0;
    color: #6a8196;
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}
.articles{
    padding-left: 0;
    margin-top: 20px;
    list-style: none;
}
.article{
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #EBF2F6;
}
.article:first-child:before,.article:first-child:after{
    position: absolute;
    content: "";
    border: 14px solid #EBF2F6;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    top: -28px;
    left: 50%;
    margin-left: -14px;
}
.article:first-child:after{
    border-bottom-color: #fff;
    top: -27px;
}
.post-title{
    display: inline;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    word-wrap: break-word;
}
.post-title a{
    color: #6a8196;
    text-decoration: none;
}
.sep{
    margin: 0 5px;
}
.fl{
    float: left;
}