article, aside, details,
figcaption, figure,
footer, header, hgroup,
main, nav, section,
summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
html {
   font-family: sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
body { margin: 0; }
a { background: transparent;  text-decoration: none;}
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
h1 { font-size: 2em; margin: 0.67em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
dfn { font-style: italic; }
hr {
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   height: 0;
}
mark { background: #FF0; color: #000; }
code, kbd, pre,
samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
button, input, select,
textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
   -webkit-appearance: button;
   cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] {
   -webkit-appearance: textfield;
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }

/* ========================
   Custom CSS for Saber
======================== */

body{
  background: #fff;
  color: #444;
  font-size: 15px;
  line-height: 1.4;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

a:hover {
  text-decoration: underline;
}

.post-content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.post-content a {
  background: transparent;
}

.post-content a:active,
.post-content a:hover {
  outline: 0;
}

.post-content strong {
  font-weight: bold;
}

.post-content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.post-content img {
  border: 0;
}

.post-content hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.post-content pre {
  overflow: auto;
}

.post-content code,
.post-content kbd,
.post-content pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.post-content input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.post-content html input[disabled] {
  cursor: default;
}

.post-content input {
  line-height: normal;
}

.post-content input[type="checkbox"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.post-content table {
  border-collapse: collapse;
  border-spacing: 0;
}

.post-content td,
.post-content th {
  padding: 0;
}

.post-content * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-content input {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.post-content a {
  color: #4183c4;
  text-decoration: none;
}

.post-content a:hover,
.post-content a:focus,
.post-content a:active {
  text-decoration: underline;
}

.post-content hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.post-content hr:before {
  display: table;
  content: "";
}

.post-content hr:after {
  display: table;
  clear: both;
  content: "";
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.post-content h1 {
  font-size: 30px;
}

.post-content h2 {
  font-size: 21px;
}

.post-content h3 {
  font-size: 16px;
}

.post-content h4 {
  font-size: 14px;
}

.post-content h5 {
  font-size: 12px;
}

.post-content h6 {
  font-size: 11px;
}

.post-content blockquote {
  margin: 0;
}

.post-content ul,
.post-content ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post-content ol ol,
.post-content ul ol {
  list-style-type: lower-roman;
}

.post-content ul ul ol,
.post-content ul ol ol,
.post-content ol ul ol,
.post-content ol ol ol {
  list-style-type: lower-alpha;
}

.post-content dd {
  margin-left: 0;
}

.post-content code {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.post-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.post-content kbd {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  color: #000;
  padding: 3px 5px;
  line-height: 10px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  display: inline-block;
}

.post-content>*:first-child {
  margin-top: 0 !important;
}

.post-content>*:last-child {
  margin-bottom: 0 !important;
}

.post-content .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.post-content .anchor:focus {
  outline: none;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.post-content h1 .octicon-link,
.post-content h2 .octicon-link,
.post-content h3 .octicon-link,
.post-content h4 .octicon-link,
.post-content h5 .octicon-link,
.post-content h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

.post-content h1:hover .anchor,
.post-content h2:hover .anchor,
.post-content h3:hover .anchor,
.post-content h4:hover .anchor,
.post-content h5:hover .anchor,
.post-content h6:hover .anchor {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

.post-content h1:hover .anchor .octicon-link,
.post-content h2:hover .anchor .octicon-link,
.post-content h3:hover .anchor .octicon-link,
.post-content h4:hover .anchor .octicon-link,
.post-content h5:hover .anchor .octicon-link,
.post-content h6:hover .anchor .octicon-link {
  display: inline-block;
}

.post-content h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.post-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.post-content h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.post-content h4 {
  font-size: 1.25em;
}

.post-content h5 {
  font-size: 1em;
}

.post-content h6 {
  font-size: 1em;
  color: #777;
}

.post-content p,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content table,
.post-content pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.post-content hr {
  height: 1px;
padding: 0;
margin: 3.2em auto;
background-color: #edece4;
border: 0 none;
width: 100%;}

.post-content ul,
.post-content ol {
  padding-left: 2em;
}

.post-content ul ul,
.post-content ul ol,
.post-content ol ol,
.post-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post-content li>p {
  margin-top: 16px;
}

.post-content dl {
  padding: 0;
}

.post-content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.post-content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.post-content blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.post-content blockquote>:first-child {
  margin-top: 0;
}

.post-content blockquote>:last-child {
  margin-bottom: 0;
}

.post-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.post-content table th {
  font-weight: bold;
}

.post-content table th,
.post-content table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.post-content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.post-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.post-content img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-content code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.post-content code:before,
.post-content code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.post-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: break-word;
  white-space: pre-wrap;
  background: transparent;
  border: 0;
}

.post-content .highlight {
  margin-bottom: 16px;
}

.post-content .highlight pre,
.post-content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.post-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.post-content pre {
  word-wrap: normal;
}

.post-content pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.post-content pre code:before,
.post-content pre code:after {
  content: normal;
}

.post-content .highlight {
  background: #fff;
}

.post-content .highlight .mf,
.post-content .highlight .mh,
.post-content .highlight .mi,
.post-content .highlight .mo,
.post-content .highlight .il,
.post-content .highlight .m {
  color: #945277;
}

.post-content .highlight .s,
.post-content .highlight .sb,
.post-content .highlight .sc,
.post-content .highlight .sd,
.post-content .highlight .s2,
.post-content .highlight .se,
.post-content .highlight .sh,
.post-content .highlight .si,
.post-content .highlight .sx,
.post-content .highlight .s1 {
  color: #df5000;
}

.post-content .highlight .kc,
.post-content .highlight .kd,
.post-content .highlight .kn,
.post-content .highlight .kp,
.post-content .highlight .kr,
.post-content .highlight .kt,
.post-content .highlight .k,
.post-content .highlight .o {
  font-weight: bold;
}

.post-content .highlight .kt {
  color: #458;
}

.post-content .highlight .c,
.post-content .highlight .cm,
.post-content .highlight .c1 {
  color: #998;
  font-style: italic;
}

.post-content .highlight .cp,
.post-content .highlight .cs {
  color: #999;
  font-weight: bold;
}

.post-content .highlight .cs {
  font-style: italic;
}

.post-content .highlight .n {
  color: #333;
}

.post-content .highlight .na,
.post-content .highlight .nv,
.post-content .highlight .vc,
.post-content .highlight .vg,
.post-content .highlight .vi {
  color: #008080;
}

.post-content .highlight .nb {
  color: #0086B3;
}

.post-content .highlight .nc {
  color: #458;
  font-weight: bold;
}

.post-content .highlight .no {
  color: #094e99;
}

.post-content .highlight .ni {
  color: #800080;
}

.post-content .highlight .ne {
  color: #990000;
  font-weight: bold;
}

.post-content .highlight .nf {
  color: #945277;
  font-weight: bold;
}

.post-content .highlight .nn {
  color: #555;
}

.post-content .highlight .nt {
  color: #000080;
}

.post-content .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.post-content .highlight .gd {
  color: #000;
  background-color: #fdd;
}

.post-content .highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.post-content .highlight .ge {
  font-style: italic;
}

.post-content .highlight .gr {
  color: #aa0000;
}

.post-content .highlight .gh {
  color: #999;
}

.post-content .highlight .gi {
  color: #000;
  background-color: #dfd;
}

.post-content .highlight .gi .x {
  color: #000;
  background-color: #afa;
}

.post-content .highlight .go {
  color: #888;
}

.post-content .highlight .gp {
  color: #555;
}

.post-content .highlight .gs {
  font-weight: bold;
}

.post-content .highlight .gu {
  color: #800080;
  font-weight: bold;
}

.post-content .highlight .gt {
  color: #aa0000;
}

.post-content .highlight .ow {
  font-weight: bold;
}

.post-content .highlight .w {
  color: #bbb;
}

.post-content .highlight .sr {
  color: #017936;
}

.post-content .highlight .ss {
  color: #8b467f;
}

.post-content .highlight .bp {
  color: #999;
}

.post-content .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}

.post-content .octicon {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post-content .octicon-link:before {
  content: '\f05c';
}

.post-content .task-list-item {
  list-style-type: none;
}

.post-content .task-list-item+.task-list-item {
  margin-top: 3px;
}

.post-content .task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.site-header{
  height: 80px;
  border-bottom: 1px solid #eee;
}
.site-header a{
  color: #333;
  font-weight: 500;
}
.site-header a:hover{
  color: #4183c4;
  text-decoration: none;
}
.site-title{
  margin: 0;
  line-height: 80px;
  font-weight: 500;
  float: left;
}
.nav-right{
  float: right;
}
.nav-right a {
  display: block;
  border-bottom: 1px solid transparent;
}
.nav-right a.active {
  background-color: #eee;
}
.nav-right a:hover{
  color: #4183C4;
  border-bottom-color: #4183C4;
}
.pages{
  list-style: none;
  margin: 0;
}
.pages li{
  float: left;
  line-height: 80px;
}
.pages li+li{
  margin-left: 40px;
}
img.emojione{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.post{
  max-width: 960px;
  margin: 4rem auto;
  padding-bottom: 30px;
  color: #666;
}
.post-header{
  margin-bottom: 30px;
}
.post-title{
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
.post-title a{
  color: #4183c4;
}
.post-meta{
  padding-top: 30px;
  color: #999;
}
.post-meta a{
  color: #999;
}
.post-excerpt,.post-content{
  line-height: 1.7;
}
.post-excerpt p,.post-content p{
  margin: 0 0 23px;
}
.post-tags{
  padding-left: 0;
}
.post-tags a{
  padding-right: 15px;
}
.site-footer{
  color: #999;
  max-width: 960px;
  margin: 20px auto 40px auto;
  border-top: 1px solid #eee;
  padding-top: 40px;
}
.site-footer a{
  color: #ccc;
}
.copyright {
  color: #999;
}
.copyright a{
  color: #999;
}
.post-date{
  border-left: #d5dbde 1px solid;
  padding-left: 10px;
  margin-left: 3px;
}
.pagination {
  position: relative;
  max-width: 960px;
  margin: 4rem auto;
  font-size: 14px;
  color: #9EABB3;
  text-align: center;
}
.page-number {
  display: inline-block;
  padding: 11px 0;
  min-width: 100px;
}
.pagination a {
  color: #9EABB3;
  transition: all 0.2s ease;
}
.older-posts, .newer-posts {
  position: absolute;
  display: inline-block;
  padding: 10px 15px;
  border: #bfc8cd 1px solid;
  text-decoration: none;
  border-radius: 4px;
  transition: border ease 0.3s;
}
.older-posts:hover, .newer-posts:hover {
  color: #889093;
  border-color: #98a0a4;
}
.older-posts {
  right: 0;
}
.newer-posts {
  left: 0;
}
.poweredby{
  color: #ccc;
  margin-top: 10px;
}
.tag-head,.author-profile{
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
.tag-head h1,.tag-head h2,.author-profile h1,.author-profile h2{
  margin: 0;
  font-weight: 300;
}
h2.page-description,h2.author-bio{
  color: #999;
  margin-top: 5px;
}
.author-stats{
  color: #999;
}
.author-stats:before{
  content: "- "
}
.author-stats:after{
  content: " -"
}
.readmore{
  float: right;
  color: #777;
}
.readmore:hover{
  color: #4183C4;
}

@media (max-width: 468px) {
  .container, .site-footer, .pagination, .post {
    padding-left: 10px;
    padding-right: 10px;
  }
}